<h3>Welcome!</h3>
<p>AIMS-DEV --> Please notice the "dev" in our title. <br/>
Go to --> <a href="/collections">Collections</a><br/>
Go to --> <a href="/catalog/druid:1">Sample Item</a>
<br/><br/><br/>

Known issues:<br/>
&nbsp;&nbsp;&nbsp;1. Search only works with complete phrases. <br/>
&nbsp;&nbsp;&nbsp;2. No full-text yet (on book view or in search box) <br/> <br/><br/>
</p>
